
@media (max-width: 767px) {
	.lg-display{
		display: none !important;
	  }
	  .mb-display{
		display: block !important;
	  }
	  .captcha{
		  margin-bottom:20px;
	  }
	  .box-border {
		  width:100%;
	  }
	  .mb-center {
		  text-align: center;
	  }
}