<header>
  <!--Navigation-->

  <nav class="navbar navbar-expand-lg navbar-static">
    <div class="container sub-logo">
      <div class="fw-300 white  justify-content-between align-items-center mb-display">

        <div class="flex">
          <a href="#home" title="Logo" class="logo scroll">
            <img src="assets/img/logo.jpeg" class="logo-dark default" alt="logo" width="100px">
          </a>
          <div class="text-center ml-10">
            <span class="vks">V.K.S</span>
          </div>
          <img src="assets/img/profile-img.png" class="logo-dark ml-10">
        </div>

        <div class="font-14 text-center">
          <div>
            SILAMBAM & YOGA MARTIALARTS TRUST</div>
          SOUTH INDIAN TRADITIONAL SILIMBAM SPORTS ASSOCIATION
        </div>
      </div>

      <div class="row fw-500 white  justify-content-between align-items-center lg-display" id="ntg">

        <div class="col-2 text-center">
          <a href="#home" title="Logo" class="logo scroll">
            <img src="assets/img/logo.jpeg" class="logo-dark default" alt="logo" width="100px">
          </a>
        </div>

        <div class="col-8 font-30 text-center">
          <div class="ml-20">
            V.K.S.SILAMBAM & YOGA MARTIALARTS TRUST
            <div class="font-16">
              SOUTH INDIAN TRADITIONAL SILIMBAM SPORTS ASSOCIATION</div>
          </div>
        </div>

        <div class="col-2 text-center">
          <img src="assets/img/profile-img.png" class="logo-dark">
        </div>

      </div>
    </div>
  </nav>
</header>

<app-upload-certificate></app-upload-certificate>